.config/vim/.netrwhist
.Xauthority
Downloads
.cache
.dbus
.eclipse
.java
.m2
.pki
.swt
.tooling
.webclipse
.local/share
repos
uni
.local/lib
.dots
.config/wget
.config/vim/bundle
.local/bin/xroot-panels
.local/bin/xroot-status-loop
.local/bin/xroot-status-restart
.local/bin/xroot-status-start
.local/bin/xroot-status-stop
.local/bin/xroot-status-update
.xinitrc
.config/Musixmatch/
.config/st
.config/spotify
.config/qBittorrent
.config/pulse
.config/pavucontrol.ini
.config/p2
.config/nvidia
.config/neofetch
.config/mutt
.config/mimeapps.list
.config/menus
.config/komorebi
.config/jgit
.config/htop
.config/google-chrome
.config/gtk-2.0
.config/gtk-3.0
.config/guvcview2
.config/zsh/.zcompdump
.config/QtProject
.config/QtProject.conf
.config/artifacts.xml
.config/cef_user_data
.config/ckb-next
.config/dconf
.config/discord
.config/discordcanary
.config/discorddevelopment
.config/dmenu
.config/dwm
.config/eclipse
.config/flameshot
.config/fontconfig
.config/gh
.config/gnupg
.config/ssh
.config/zsh/.zcompdump
.config/vim/sets.vim
.config/vim/viminfo
.config/X11/Xauthority
.config/vim/plugged
